@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme {
    --font-primary : ["DM Sans", "sans-serif"];
    --color-primary-200: #1570EF;
    --color-stroke-100: #E5E7EB;
    --color-background-100 : #f5f9fe;
    --color-background-200 : #e9f2ff;
    --color-background-300 : #CFE2FC;
    --color-secondry-bg-100 : #F9FBFE
}